
head
  title TypeMX
  link(href="style/main.css" rel='stylesheet')
    
.container
  h1 About
  h1 la base de todo diseño es la interaccion
  h1 Para perderle el miedo a muchas de estas cosasas, lo mejor es ponerlas en practica.
  h1 Estos ejemeplos probablemente son maneras senciallas y practicas de empezar con tipografias variables. Todo esto esta pensado para los diseñadores en general, no solo para tipografos o tecnicos.
  h1 Si pudieramos hacer tipografias especificas para cada uno de nuestros proyectos, todos los diseñadores. En este libro de hipertexto quiero explorar algunas de las posibilidades del formato. este se va a actualizar periodicamente con mas y mejores ejemplos.
