head
  title TypeMX
  link(href="style/main.css" rel='stylesheet')
  meta(charset="UTF-8")
  script(src="https://aframe.io/releases/0.7.0/aframe.min.js")
  script(src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/build/aframe-ar.js")
body
  a-scene(embedded artoolkit='sourceType: webcam;')
    a-text(class="amstel" value="This is TypeMX")
    a-marker-camera( type='pattern' patternUrl='marks/pattern-marker.patt')
    
