head
  title Type MX - Entornos
  link(href="style/main.css" rel='stylesheet')

.container
  h1 Variation and the Environment
  .square
    img(src="images/aesthetic/04.jpg", alt="")
  p &nbsp;
  .square
    img(src="images/aesthetic/04.jpg", alt="")
  h1 El dise침o grafico ya tiene tiempo interviniendo en el entorno.
  
  h1 El movimiento de super gr치ficos, 
  h1 los proyectos de Paula Scher, y mas nos dieron una mirada a las necesidades de  cada proyecto.
  h1 Los ejemplos clasicos son los sistemas de se침aletica
.big-image  
  h1 Para la informacion - Metro de londres
  .square-2
    img(src="images/environment/03.png", alt="")
  h1 Para la experiencia - Trapped in Suburbia
  .square-2
    img(src="images/environment/04.jpg", alt="")
.container  
  h1 siempre vas a necesitar texto de una manera u otra.
  h1 En esta seccion exploramos la posibilidad de ajustar la tipografia a el ambiente en el que se ejecutaria.
  
  h1 Otros lo llevan al extremo, con Super Graphics.
  h1 no solo con color y geometria, muchas veces utilizan texto para invervenir el ambiente.
  
  p supernew supergraphics
  
  h1 Esta herramienta,te muestra una composicion tipografica con el contenido que le des.
  h1 solo necesita el tama침o de la superficie, y la distancia esperada de lectura. El resto se hace automaticamente.
  h1.small nota que para exportar tienes que guardar  como imagen. :/
