doctype html5
head
  title TypeMX
  link(href="style/main.css" rel='stylesheet')
    
body
  h1 index
  a(href="aesthetics.html", target="_blank") 
    h1 Variation & Aesthetics
  a(href="environment.html", target="_blank") 
    h1 Variation & Environments
  a(href="reaction.html", target="_blank")  
    h1 Variation & Reaction
  a(href="reaction.html", target="_blank")  
    h1 Variation & AR
  
  include include/menu
