head
  title TypeMX
  link(href="style/main.css" rel='stylesheet')
  meta(charset="UTF-8")
  | <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
body

  .menu
    h1 menu
    h1
      a(href="#aesthetic") Forma
      br
      a(href="#contexto") Contexto
      br
      a(href="#interaction") Interaction
      br
      a(href="#tips.html")  Augmented Reality
      
  .general#presentandome
    
    .big-image
      
      .square
      h1.small Edgar Robles 
      h1.large Experimentos con interacción 
        br
        | y tipografías variables.
      .square

    //- comienza el contenido y la seccion de estetica  
    .container
        h1 un nuevo formato que esta siendo desarrollado.
        h1 la idea detras es darle mas posibilidades a los  diseñadores en el dia a dia.
        .square
          
    .big-image
        h1.large Comunicación, branding, señalética, infografía, web, Interfaces de coches, impresoras, Inteligencia artifical, realidad virtual, realidad aumentada, diseño editorial, Diseño de productos, empaques especializados.
        .square
    .container
        h1 Forma Contexto Interaccion
  .general#aesthetic    
    .big-image
      .square
      h1.large Variation and Form
    .square
    .container
      .square
        img(src="images/aesthetic/04.jpeg", alt="")
      h1 la tipografía es tanto Forma como tecnología.
        span.small Rob Giampietro
      .square
        img(src="images/aesthetic/03.jpg", alt="")
      .hidden
      .hidden
      .square
        img(src="images/aesthetic/05.jpg", alt="")  

    
    .big-image
      .square
      h1.small Definición
      h2.large Estética es encontrar la harmonía de la información. 
          .square
            img(src="images/aesthetic/17.jpg", alt="")
      .square
    .container  
      p no hay una respuesta correcta 
      .square
        img(src="images/aesthetic/15.jpg", alt="")
      .square
        img(src="images/aesthetic/16.jpg", alt="") 

      .hidden
      .hidden
      h1 Prueba y error. 
      h1 Intentamos con todas las posibilidades hasta que encontramos una que nos haga sentidos
      .square 
      
    .big-image
      .square-2
        img(src="images/aesthetic/09.jpg", alt="")

            
    .container  
      a( href = "http://fuzzco.com/work/pocket-art-director/")
        h1 Pocket Art Director, Fuzzco
      
      h1 Con 
        span.red variations 
        | podemos usar una cantidad basicamente infinita de variaciones diferentes.
    .big-image
      .hidden
      h1.large
        | Algunos ejemplos
      .square  
    .container
      .square
        img(src="images/aesthetic/10.gif", alt="")
      h1 Erik Van Blokland lo probó con svg.
      a(href="http://letterror.com/dev/mathshapes/", target="_blank") 
        h1 letterror
      .square.black-bg
        img(src="images/aesthetic/12.gif", alt="")
      .square.black-bg
        img(src="images/aesthetic/11.gif", alt="")
      h1 Eso era mas dificil. 
      .hidden
      h1 Ahora con el formato ya podemos ver un poco mas de las posibilidades.

    .big-image
      a(href="https://www.typenetwork.com/brochure/opentype-font-variations/", target="_blank") 
        h1.small Font Bureau
      .square
        img(src="images/aesthetic/13.gif", alt="")
      .square
        img(src="images/aesthetic/14.gif", alt="")
    .container
      h1 Cuando se trata de interacción, la manera en que decimos las cosas  es de lo mas imporante.
      h1 con estas ideas ya mas claras podemos pasar a usarlas.
      

      //- *
      //- *
      //- *
      //- *
      //- *   
      //- empieza la seccion de contexto
      //- *
      //- *
      //- *
      //- *
      //- *    
  .general#contexto
    .big-image
      .square
      h1.large Variation and context
      .square

      h1 labcdmx
      .square-2
        img(src="images/environment/06.jpg", alt="")
      h1 Lab CDMX
      .square-2
        img(src="images/environment/07.jpg", alt="")
    .container  
      .square
        img(src="images/environment/08.jpg", alt="")
      .hidden
      .hidden
      .square
        img(src="images/environment/09.jpg", alt="")
      .square
        img(src="images/environment/10.jpg", alt="")
      .hidden
      h1 No es lo mismo
      .square
        img(src="images/environment/11.jpg", alt="")
      .square
        img(src="images/environment/01.jpeg", alt="")
      .hidden
      .hidden

      h1 Todo el diseño necesita considerar su contexto.
      h1 Los ejemplos clasicos son los sistemas de señaletica
    .big-image  
      h1 Para la informacion - Metro de londres
      .square-2
        img(src="images/environment/03.png", alt="")
    .container
      .square
        img(src="images/environment/12.jpg", alt="")
      .hidden
      .hidden
      h1 Para la experiencia - Trapped in Suburbia
      .square
        img(src="images/environment/04.jpg", alt="")
      .hidden
      .hidden
      .square
        img(src="images/environment/14.png", alt="")
    .container  
      h1 Para la informacion siempre se va a necesitar de una u otra manera.
      
      h1 no solo con color y geometria, muchas veces utilizan texto para invervenir el ambiente.
      
      h1 Para esta, queremos demostrar que tambien puede facilitar la vida a los diseñadores que trabajan fuera del ordenador
      
      h1 el primer requerimiento es el tamaño optico.
      h1 Con un pequeño proceso programado, podriamos usar la tipografia para presentarnos los tamaños optimos de lectura, junto con sus 
      h1.small nota que para exportar tienes que guardar  como imagen. :/

    .big-image
      .square
      h1.large Interacciones
      .square
  //- *
  //- *
  //- *
  //- *
  //- *       
  //- Empieza la seccion de interaccion.
  //- *
  //- *
  //- *
  //- *
  //- *

  .general#interaction    
    .big-image
      .square
      h1.large Variation and Interaction
      .square
    .container
      .hidden
      h1 El diseño se trata del comportamiento
      h1 se trata de ver y entender la manera en que las personas se hacen o no hacen las cosas.
      h1 Enojo, felicidad, estres y todas las emociones son parte de nuestro proceso.

      h1 Espacios
      h1 Objetos
      h1 Comunicación
      h1 Siempre buscamos que las personas cumplan un objetivo.
      h1 Variations nos da mas herramientas.
      h1 variations
      h1 y con un poco de Juego, se puede lograr animaciones sencillas.
      p caballo de axis praxis
      p juego con las letras
      .hidden
      h1.red-bg.grey 
        a(href="variations.html", target="_blank") linkUsar las typografias 
      .hidden
      h1.red-bg.grey 
        a(href="ar.html", target="_blank") Realidad Aumentada 
  .general#exercises  
      //- *
      //- *
      //- *
      //- *
      //- *   
      //- Aqui comienza la seccion de tips
      //- *
      //- *
      //- *
      //- *
      //- *   
  .gemeral#tips
    .big-image
      .square
      h1.large remember
      .square
    .container  
      
      h1 para comenzar a usar tipografias variables se puede hacer desde css:
      p.code @font-face { font-family: 'Nicefont'; src: url(
        span.red 'nicefont_var.woff2'
        | ) format(
        span.red 'woff-variations');
      p.code h2 { 
        span.red font-variation-settings:
        | "wdth" 600, "wght" 200, "opsz" 48; }
        br
        br
        span.grey // estos son los basicos: 
        span.red wght, wdth, ital, slnt, opsz.
      h1 y asi se incluyen los ejes que queremos detallar
    .big-image
      .square
      h1.large Ligas y literatura Recomendada  
      .square
    .container  
      h1 La recomendacion para las partes esta disponible en 
        a(href="https://variationsguide.typenetwork.com", target="_blank") typenetwork
      h1 para experimentar mas les recomiendo visitar el sitio de 
        a(href="http://www.axis-praxis.org/specimens/buffalo-gal", target="_blank") axis praxis.
      h1 Mas informacion sobre 3d en el navegador:
        a(href="https://aframe.io", target="_blank") A-Frame
      h1 Realdidad Aumentada con Java Script:
        a(href="https://github.com/jeromeetienne/ar.js", target="_blank") AR.js
      h1 Una introduccion al formato por Richard Rutter
        a(href="https://medium.com/@clagnut/get-started-with-variable-fonts-c055fd73ecd7", target="_blank") Medium
      h1 Una fuente variable gratuita por Christoph Koeberlin:
        a(href="http://koe.berlin/variablefont/", target="_blank") Gingham
      
    include include/_footer
