head
  title Type MX - Entornos
  link(href="style/main.css" rel='stylesheet')

.container#contexto
  h1 Variation and context
  .square
    img(src="images/environment/01.jpeg", alt="")
  p &nbsp;
  .square
    img(src="images/environment/02.jpg", alt="")
  h1 Todo el diseño necesita considerar su contexto.
  h1 el diseño grafico ya lleva tiempo interviniendo el espacio.
  .square 
    img(src="images/environments", alt="")
  h1 El movimiento de super gráficos, 
  h1 los proyectos de Paula Scher, y mas nos dieron una mirada a las necesidades de  cada proyecto.
  h1 Los ejemplos clasicos son los sistemas de señaletica
.big-image  
  h1 Para la informacion - Metro de londres
  .square-2
    img(src="images/environment/03.png", alt="")
  h1 Para la experiencia - Trapped in Suburbia
  .square-2
    img(src="images/environment/04.jpg", alt="")
.container  
  h1 siempre vas a necesitar texto de una manera u otra.
  h1 En esta seccion exploramos la posibilidad de ajustar la tipografia a el ambiente en el que se ejecutaria.
  
  h1 Otros lo llevan al extremo, con Super Graphics.
  h1 no solo con color y geometria, muchas veces utilizan texto para invervenir el ambiente.
  
  p supernew supergraphics
  
  h1 antes vimos su aplicacion en web.
  h1 Para esta, queremos demostrar que tambien puede facilitar la vida a los diseñadores que trabajan fuera del ordenador
  
  h1 el primer requerimiento es el tamaño optico.
  h1 Con un pequeño proceso programado, podriamos usar la tipografia para presentarnos los tamaños optimos de lectura, junto con sus 
  h1.small nota que para exportar tienes que guardar  como imagen. :/

.big-image
  .square
  h1.large Interacciones
  .square
  
.container#interaction
  h1 Variation and interaction
  h1 A diferencia de los pasados
  h1 la interaccion es completamente digital
  h1 Todo el diseño trata sobre el comportamiento.
  h1 Espacios
  h1 Objetos
  h1 Comunicación
  h1 Siempre buscamos que las personas cumplan un objetivo.
  h1 Variations introduce la idea de posiciones.
  h1 En Web, estos valores se pueden secuenciar
  h1 y con un poco de Juego, se puede lograr animaciones sencillas.
  p caballo de axis praxis
  p juego con las letras
  
